---
import Layout from "../../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<Layout
  title={`RGB转换Hex工具 | ${SITE_TITLE}`}
  description={`RGB转换Hex工具 | ${SITE_DESCRIPTION}`}
>
  <div
    class="bg-gray-100 min-h-screen flex flex-col items-center justify-center pt-32 pb-32"
  >
    <div class="bg-white p-8 shadow-md w-full max-w-sm card">
      <h1 class="text-2xl font-bold mb-4"> URL 解码 </h1>
        
    </div>
  </div>
</Layout>
<script is:inline>
  
</script>
