---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getEntryBySlug } from "astro:content";
const about = await getEntryBySlug("pages", "about");
const { Content } = await about.render();
---

<Layout
  title={`关于我 | ${SITE_TITLE}`}
  description={`关于我 | ${SITE_DESCRIPTION}`}
>
  <div
    class="bg-gray-100 flex flex-col items-center justify-centerpb-32 post-container"
  >
    <div
      class="bg-gray-100 min-h-screen flex flex-col  justify-center "
    >
      <div class="bg-white p-8 shadow-md w-full max-w-3xl card">
        <h1 class="text-2xl font-bold mb-4">关于我</h1>
        <Content />
      </div>
    </div>
  </div>
</Layout>
