---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-gray-100 relative">
    <Header />
    <!-- Main Content -->
    <main class="container mx-auto p-6 min-h-screen pt-32  pb-32">
      <section class="text-center mb-8">
        <h1 class="text-4xl font-bold mb-4">欢迎来到我的Web工具箱</h1>
        <p class="text-lg text-gray-700">
          这里汇集了我常用的Web开发工具和资源。希望你能找到你需要的工具！
        </p>
      </section>

      <!-- Tools Grid -->
      <section>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <!-- Tool Card -->
          <div class="card bg-white shadow-md rounded-lg p-4">
            <h2 class="text-xl font-semibold mb-2"> RGB 转 Hex </h2>
            <p class="text-gray-600">RGB转Hex工具</p>
            <a href="/rgbToHex/index.html" class="btn btn-info mt-4">了解更多</a>
          </div>
          <!-- Tool Card -->
          <div class="card bg-white shadow-md rounded-lg p-4">
            <h2 class="text-xl font-semibold mb-2"> Hex 转 RGB </h2>
            <p class="text-gray-600">Hex转换RGB工具。</p>
            <a href="/hexToRgb/index.html" class="btn btn-info mt-4">了解更多</a>
          </div>
          <!-- Tool Card -->
          <div class="card bg-white shadow-md rounded-lg p-4">
            <h2 class="text-xl font-semibold mb-2">取色工具</h2>
            <p class="text-gray-600">暂时没写。</p>
            <a href="#" class="btn btn-info mt-4">了解更多</a>
          </div>
		  
        </div>
      </section>
    </main>

    <Footer />
  </body>
</html>
